{% extends "wagtailadmin/base.html" %}

{% load staticfiles wagtailadmin_tags i18n wagtailvideos_tags %}

{% block titletag %}{% blocktrans with title=channel.title %}Editing Channel {{ title }}{% endblocktrans %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'wagtailvideos/css/edit-video.css' %}" type="text/css" /> {% endblock %} {% block extra_js %} {{ block.super }}
{% endblock %}
{% block content %}
{% trans "Editing" as editing_str %}

{% include "wagtailadmin/shared/header.html" with title=editing_str subtitle=channel.title icon="media" %}

<div class="row row-flush nice-padding">

    <div class="col8">
        <form action="{% url 'wagtailvideos:channel_edit' channel.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="fields">
                {% for field in form %}
                  {% if field.name == 'file' %}
                    {% include "wagtailvideos/videos/_file_field_as_li.html" %}
                  {% elif field.is_hidden %}
                    {{ field }}
                  {% else %}
                    {% include "wagtailadmin/shared/field_as_li.html" %}
                  {% endif %}
                  {% endfor %}
                <li>
                    <input type="submit" class="button" value="{% trans 'Save' %}" /> {% if user_can_delete %}
                    <a href="{% url 'wagtailvideos:channel_delete' channel.id %}" class="button button-secondary no">{% trans "Delete channel" %}</a> {% endif %}
                </li>
            </ul>
        </form>
    </div>
    
</div>
{% endblock %}
