{% extends "wagtailadmin/base.html" %}
{% load i18n %}

{% block titletag %}{% trans "Channel" %}{% endblock %}
{% block extra_js %}
    {{ block.super }}
    <script>
        window.headerSearch = {
            url: "{% url 'wagtailvideos:channels_index' %}",
            termInput: "#id_q",
            targetOutput: "#video-results"
        }

        $(function() {
            $('#collection_chooser_collection_id').change(function() {
                this.form.submit();
            })
        });
    </script>
{% endblock %}

{% block content %}
    {% trans "Channel" as video_str %}

    {% trans "Add a channel" as add_video_str %}
    {% include "wagtailadmin/shared/header.html" with title=video_str add_link="wagtailvideos:channels_add" icon="media" add_text=add_video_str search_url="wagtailvideos:channels_index" %}

    <div class="nice-padding">
        {% if collections %}
            <form class="image-search search-bar" action="{% url 'wagtailvideos:channels_index' %}" method="GET">
                <ul class="fields">
                    {% include "wagtailadmin/shared/collection_chooser.html" %}
                </ul>
            </form>
        {% endif %}

        <div id="image-results">
            {% include "wagtailvideos/channels/results.html" %}
        </div>
    </div>

{% endblock %}
